/*Comentario en CSS*/
/**/

/*Aplicamos reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{

    display: grid;
    grid-template-columns:auto ;
    grid-template-rows:auto ;  
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"; 
}


/*Estilos de Header*/

header{

    background-color: rgb(109, 163, 212);       
    display: flex;      
    font-size: 32px;
}
header nav ul{

    list-style: none;    
}



/* Estilos del menu*/



.menu ul li{

    background-color: rgb(211, 72, 141);
    color: whitesmoke;
    margin: 30px;
    padding: 15px;    
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;    
    border-radius: 50%;
    font-size: 1em;
}

.menu ul li a{

    color: whitesmoke;
    text-decoration: none;

}
/*Estilos de Body*/

.container.logo {
    display: grid;
    
}

body{
    background-color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../IMG/Bckg1.png);
    
}

/*Estilos de Main*/
main{
    height: 80vh;
    grid-area: main;
    grid-template-areas: 
    "h1 h1"
    "caja caja"
    "h3 h4"
    ;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

main h1{
    text-align: center;
    color:rgb(211, 72, 141);
    text-shadow: 1px 1px black;
    font-size: 40px;
    margin-bottom: 90px;
    grid-area: h1;
}

main p{
    text-align: center;
    font-size: 22px;
    margin-bottom: 180px;
}

main h2{
    text-align: center;
    color: rgb(211, 72, 141);
    text-shadow: 1px 1px black;
    font-size: 32px;
    margin-bottom: 80px;
    grid-area: h2;
}

main ol li {

    background-color: rgb(211, 72, 141);
    color: whitesmoke;
    margin: 30px;
    padding: 15px;
    display: list-item;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px; 
    
}

.carrito li{
    background-color: rgb(211, 72, 141);
    color: whitesmoke;
    margin: 30px;
    padding: 15px;
    display: list-item;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;         
    
}

.carroGrid{

    display: grid;
    grid-template-areas: 
                        "carrito pagar";      
            

}


/* Estilo de parrafo*/

.caja{

    background-color: cornflowerblue;
    color: whitesmoke;
    overflow: hidden;
    width: 400px;
    height: 200px;
    margin-left: 750px;
    grid-area: caja;
}

main h3{
    margin-bottom: 20px;
    grid-area: h3;
}
main h4{
        margin: 80px 80px 80px 700px ;
        grid-area: h4;
        
}
/*Estilos Footer*/
footer{
    background-color:  rgb(109, 163, 212);
    margin-top: 500px;
    text-align: center;
    grid-area: footer;
}


.ultimoHeader{
    text-align: center;
    font-size: 16px;
}

/* Estilo Formulario*/

form{

    background-color: rgb(211, 72, 141);
    color: whitesmoke;
    margin: 30px;
    padding: 15px;    
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;    
}


/* Estilo Tablas*/

table{

    text-align: center;
    margin-left: 700px;
}

/* Mediaqueries */
@media screen and (min-width:600px){

    main{grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"; 
    }
}